.categoryFieldComboBox {
  // Ensure the combo box can handle multiple selections
  .euiComboBoxPill {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .euiComboBox__inputWrap {
    max-height: 150px; // Adjust height to accommodate more selections
    overflow-y: auto;
  }
}
