@import '@elastic/eui/src/global_styling/variables/index';

.associated-detectors {
  height: 100%;
  display: flex;
  flex-direction: column;

  .euiFlyoutBody__overflowContent {
    height: 100%;
    padding-bottom: 0;
  }

  &__flex-group {
    height: 100%;
  }
}
