@import '@elastic/eui/src/global_styling/variables/index';

.ad-dashboards-context-menu {
  &__text-content {
    &:hover {
      text-decoration: none;
    }
  }

  &__no-action {
    cursor: default;

    &:hover,
    &:active {
      text-decoration: none;
      background-color: inherit;
    }
  }

  &__view-events-text {
    h5 {
      color: inherit;
    }
  }
}
