/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */
.add-anomaly-detector {
  height: 100%;
  display: flex;
  flex-direction: column;

  .euiFlyoutBody__overflowContent {
    height: 100%;
    padding-bottom: 0;
  }

  .euiFlexItem.add-anomaly-detector__scroll {
    overflow-y: auto;
  }

  &__flex-group {
    height: 100%;
  }

  &__modes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}

.create-new {
  &__vis {
    height: 400px;

    &--hidden {
      display: none;
    }
  }

  &__title-and-toggle {
    display: flex;
    justify-content: space-between;
  }

  &__title-icon {
    margin-right: 10px;
    vertical-align: middle;
  }

  .visualization {
    padding: 0;
  }
}

.featureButton {
  width: 100%;
  height: 100%;
  min-height: 40px;
}
