.create-new {
  &__vis {
    height: 400px;

    &--hidden {
      display: none;
    }
  }

  &__title-and-toggle {
    display: flex;
    justify-content: space-between;
  }

  &__title-icon {
    margin-right: 10px;
    vertical-align: middle;
  }

  .visualization {
    padding: 0;
  }

  &__frequency {
    span {
      text-transform: lowercase;
    }
  }
}
